{% extends "tables.j2" %}
{% import "macro.j2" as macros -%}

{% block filter_table %}
*filter
:INPUT {{ iptables_filter_input_policy }} [0:0]
:FORWARD {{ iptables_filter_forward_policy }} [0:0]
:OUTPUT {{ iptables_filter_output_policy }} [0:0]
    {% for chain in iptables_filter_user_chains %}
:{{ chain.chain }} - [0:0]
    {% endfor %}
    {% if iptables_filter_input_before_rules or iptables_filter_input_rules %}

        {% for rule in iptables_filter_input_before_rules %}
{{ macros.rule("INPUT", rule.options) }}
        {% endfor %}
        {% for rule in iptables_filter_input_rules %}
{{ macros.rule("INPUT", rule.options) }}
        {% endfor %}
    {% endif %}
    {% if iptables_filter_forward_rules %}

        {% for rule in iptables_filter_forward_before_rules %}
{{ macros.rule("FORWARD", rule.options) }}
        {% endfor %}
        {% for rule in iptables_filter_forward_rules %}
{{ macros.rule("FORWARD", rule.options) }}
        {% endfor %}
    {% endif %}
    {% if iptables_filter_output_enabled %}

        {% for rule in iptables_filter_output_before_rules %}
{{ macros.rule("OUTPUT", rule.options) }}
        {% endfor %}
        {% for rule in iptables_filter_output_rules %}
{{ macros.rule("OUTPUT", rule.options) }}
        {% endfor %}
    {% endif %}
    {% for chain in iptables_filter_user_chains %}
        {% if "rules" in chain %}

            {% for rule in chain.rules %}
{{ macros.rule(chain.chain, rule.options) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
COMMIT
{% endblock %}
