{% import "macro.j2" as macro -%}
{% import "shortcuts.j2" as shortcuts -%}

{% for table in iptables_ipv4 %}
    {% if not loop.first %}

    {% endif %}
*{{ table.table }}
    {% for chain in table.chains %}
        {% if chain.chain in iptables_builtin_chains[table.table] %}
:{{ chain.chain }} {{ chain.default_policy }} [0:0]
        {% else %}
:{{ chain.chain }} - [0:0]
        {% endif %}
    {% endfor %}
    {% for chain in table.chains %}
        {% if chain.rules is defined and chain.rules %}

            {% for rule in chain.rules|default([]) %}
                {% if "shortcut" in rule %}
                    {% if rule.shortcut == "accept_established" %}
{{ shortcuts.accept_established(chain=chain.chain) }}
                    {% elif rule.shortcut == "accept_loopback" %}
{{ shortcuts.accept_loopback(chain=chain.chain) }}
                    {% elif rule.shortcut == "drop_invalid" %}
{{ shortcuts.drop_invalid(chain=chain.chain) }}
                    {% endif %}
                {% elif "rule" in rule %}
{{ macro.rule(chain=chain.chain, options=rule.rule) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
COMMIT
{% endfor %}
