{% extends "vars.j2" -%}

{% block rules %}
*filter
:INPUT {{ iptables_filter_input_policy }} [0:0]
:FORWARD {{ iptables_filter_forward_policy }} [0:0]
:OUTPUT {{ iptables_filter_output_policy }} [0:0]
    {% for chain in iptables_filter_user_chains %}
:{{ chain.chain }} - [0:0]
    {% endfor %}
    {% block filter_rules %}{% endblock filter_rules %}
COMMIT
{% endblock rules %}
